#block{
    background-color: black;
    width:100vw;
    height:20vh;
    
}
#block2{
    background-color: #d8b46a;
    width:100vw;
    height:15vh;
    color: #855c24;
    font-size: 5vmax;
    text-shadow: 2px 2px 3px black;
    text-align: center;

}

#block3{
    position: absolute;
    bottom:0;
    background-color: #d8b46a;
    width:100vw;
    height:15vh;
}