<div class="container-flex">
    <div id="block">
        <div id="block2">
            <img src="\assets\images\pspfLogo-removebg-preview.png" alt="image not found">
            <label>WELCOME</label>
            <img src="\assets\images\pspfLogo-removebg-preview.png" alt="image not found">
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-item" routerLink="/proofOfLife-screen">
            <div class="w3-display-middle" >1</div>
        </div>
        <div class="grid-item">
            <div class="w3-display-middle">2</div>
        </div>
        <div class="grid-item">
            <div class="w3-display-middle">3</div>
        </div>
        <div class="grid-item">
            <div class="w3-display-middle">4</div>
        </div>
    </div>

    <div id="block3"></div>
    

</div>