#block{
    background-color: black;
    width:100vw;
    height:20vh;
    
}
#block2{
    background-color: #d8b46a;
    width:100vw;
    height:15vh;
    color: #855c24;
    font-size: 5vmax;
    text-shadow: 5px 5px 4px #31230e;
    text-align: center;

}

#block3{
    position: absolute;
    bottom:0;
    background-color: #d8b46a;
    width:100vw;
    height:15vh;
}

img{
    height:8vmax;
    padding-left: 15px;
    padding-right: 15px;
}

.grid-container {
    padding:15px;
    display: grid;
    justify-content: space-evenly;
    justify-items: center;

    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 30px;
}

.grid-item{
    display: block;
    background-color: #d8b46a;
    width: 70%;
    text-align: center;

    box-shadow: 2px 2px 20px #855c24;
    border-radius:10px;
}
.grid-item:hover{
    background-color:#ae844a;
}

.w3-display-middle {
    position: relative;
}