<div class="container-flex">
    <div id="block">
        <div id="block2">
            <img src="\assets\images\pspfLogo-removebg-preview.png" alt="image not found">
            <label>WELCOME</label>
            <img src="\assets\images\pspfLogo-removebg-preview.png" alt="image not found">
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-item" routerLink="/proofOfLife-screen">
            <div class="w3-display-middle" >Proof Of Life Certificate</div>
        </div>
        <div class="grid-item">
            <div class="w3-display-middle">Benefits</div>
        </div>
        <div class="grid-item">
            <div class="w3-display-middle">Mortigage Loans</div>
        </div>
        <div class="grid-item">
            <div class="w3-display-middle">Microfinance Loans</div>
        </div>
    </div>
    <div id="block3">
        
        <div class="w3-display-middle">
            <label>Keeping Your Pension Promise</label>
        </div> 
    </div>
    <div>
        <img class="backimg" src="\assets\images\BackIcon.png" alt="BACK" routerLink="/">
    </div>

    <!-- This is to test the push -->

</div>