<p>proofoflife-screen works!</p>
<div class="container-flex">
    <div>
        <img src="\assets\images\top wave.png" alt="images not found" class="fixtop">
    </div>
    <div>
        <img src="\assets\images\wave_underFinal-removebg-preview.png" alt="images not found" class="fixbottom">
    </div>
    <div>
        <img src="\assets\images\pspfLogo-removebg-preview.png" alt="images not found" class="fixleft">
    </div>
    <button>Print Proof Of Life</button>
    <div>
        <img class="backimg" src="\assets\images\BackIcon.png" alt="BACK" routerLink="/home-screen">
    </div>
    
</div>