.fixbottom{
    position: fixed;
    bottom: 0;
    height: 25vh;
    width: 100vw;
}
.fixtop{
    position: fixed;
    top: 0;
    height: 40vh;
    width: 100vw;
}
.fixleft{
    position: absolute;
    bottom:32%;
    left: 150px;
    height:50%;
}
.labelHeading{
    color: #b98033 ;
    text-shadow: 2px 2px 3px black;
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5vmax;
    font-weight: 700;
    left: 50%;
    top: 35%;
}
.inputEmp{
    position: absolute;
    top:22%;
    left: 50%;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none; 
    font-size:3.1vmax;
    font-weight:bold;
    background: none; 
    border-color: #dfaf72; 
    box-shadow: 0 0 10px #dfaf72;
    // pointer-events: none;//Comment back in when done with testing, this makes sure the user can't tyoe anything on the input
    color:#a2641d;
    width:47vw; 
    height:40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input:focus { 
    outline: none !important;
    border-color: #dfaf72;
    box-shadow: 0 0 10px #dfaf72;
}
textarea:focus { 
    outline: none !important;
    border-color: #dfaf72;
    box-shadow: 0 0 10px #dfaf72;
}

#div{
    display: block;
}

.authImgCard, .authImgFinger{
    position: absolute;
    bottom: 2vmax;
}
.authImgCard{
    right: 20vmax;
    width: 10vmax;
}

.authImgFinger{
    right: 5vmax;
    width: 4.2vmax;
}

.arrow{
    position: absolute;
    right: 11.5vmax;
    bottom: 3vmax;
    width: 6vmax;
}

.label1, .label2{
    position: absolute;
    left: 10vmax;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vmin;
    font-weight: 700;
}
.label1{
    bottom: 6vmax;
}
.label2{
    bottom: 3vmax;
}