<div class="container-flex">
    <div>
        <img src="\assets\images\top wave.png" alt="images not found" class="fixtop">
    </div>
    <div>
        <img src="\assets\images\wave_underFinal-removebg-preview.png" alt="images not found" class="fixbottom">
        <img 
            id="imgCard"
            class="authImgCard" 
            src="\assets\images\cardReader.png" 
            alt="cardReader"
        >
        <img class="arrow" src="\assets\images\ForewardIcon.png" alt="cardReader">
        <img 
            id="imgFinger"
            class="authImgFinger" 
            src="\assets\images\fingerPrint.png" 
            alt="fingerPrint"
        >
        <label class="label1">Step 1: Scan Beneficiary Card</label>
        <label class="label2">Step 2: Put Down Fingerprint</label>
    </div>
    <div>
        <img src="\assets\images\pspfLogo-removebg-preview.png" alt="images not found" class="fixleft">
    </div>
    <div>
        <!-- REMOVE THE ROUTERLINK FROM THIS LABEL -->
        <label class="labelHeading" routerLink="/home-screen">Beneficiary Number:</label>
    </div>
    <div >
        <input 
            class="inputEmp" 
            id="userNumber" 
            type="text" 
            style="margin-top: 200px;"
            [(ngModel)]="benNumber"
        >
    </div>
    <div>
        <img id="loadingImg" src="" alt="">
    </div>
    <!-- [ngStyle]="{'background-color': benNumber != '' ? 'rgba(113,94,55,0.5)' : 'rgb(216,180,106)'}"  -->
    
</div>