<div class="container-flex">
    <div>
        <img src="\assets\images\top wave.png" alt="images not found" class="fixtop">
    </div>
    <div>
        <img src="\assets\images\wave_underFinal-removebg-preview.png" alt="images not found" class="fixbottom">
    </div>
    <div>
        <img src="\assets\images\pspfLogo-removebg-preview.png" alt="images not found" class="fixleft">
    </div>
    <div style="display:block">
        <label class="labelHeading">Employee Number:</label>
    </div>
    <div >
        <input class="inputEmp" id="userNumber" type="text" value="This is a test" style="margin-top: 200px;">
    </div>

</div>